<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tama Blog</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <div th:replace="components/header :: header"></div>
    <div th:replace="components/main :: main"></div>
    <div th:replace="components/footer :: footer"></div>
</body>
</html>
